body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exta-font {
 font-family: "Roboto";
}


/* THER NAVBAR START  */

.nav-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 75px;
    /* background-color: #e1cfcf; */

}

.nav-items ul li {
    list-style: none;

}
.nav-items ul {
    display: flex;
    text-align: center;
    gap: 30px;
}

.nav-logo img {
    padding: 10px;
    width: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.nav-button button {
    background-color: blue;
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    color: white;
}

.nav-button {
    padding: 11px ;
}

/* THER NAVBAR END */





/* THER BANNER SECTION START  */

.banner-img{
    position: relative;
}

.banner-img::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.banner-img img{
    width: 100%;
    height: 100vh;
    display: block;
}


.banner-text {
    text-align: center;
    position: absolute;
     top: 150px;
     left: 380px;
     color: white;
     
}

.banner-text p {
    line-height: 5px;
    margin: 0%;
    padding: 0%;
}

.banner-text h1 {
    font-weight: bolder;
    font-size: 50px;
}

.banner-text button { 
background-color: blue;
    border: none;
    font-size: 16px;
    padding: 12px 22px;
    border-radius: 5px;
    color: white;
    margin-top: 190px;
    font-weight: bold;
}

/* THER BANNER SECTION END */